---

import Menu from "../components/menu.astro";
import Layout from "../layouts/Layout.astro";
---
<link
    href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css"
    rel="stylesheet"
    integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH"
    crossorigin="anonymous"
/>
<script
    src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
    crossorigin="anonymous"></script>
<script
    src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
    integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
    crossorigin="anonymous"></script>
<script
    src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.min.js"
    integrity="sha384-0pUGZvbkm6XF6gxjEnlmuGrJXVbNuzT9qBBavbLwCsOGabYfZo0T0to5eqruptLy"
    crossorigin="anonymous"></script>
<Layout>
    <Menu>
        <style>
            body {
                font-family: Arial, sans-serif;
                background-color: #f4f4f4;
                margin: 0;
                padding: 0;
            }
            .container {
                max-width: 800px;
                margin: 20px auto;
                background-color: #cccccc;
                padding: 20px;
                box-shadow: 0 0 10px rgb(0, 0, 0);
                border-radius: 10px;
                }
            .car-image {
                text-align: center;
            }
            .car-image img {
                max-width: 100%;
                height: auto;
            }
            .car-details {
                margin-top: 20px;
            }
            .car-details h2 {
                color: #333;
            }
            .car-details p {
                color: #666;
                line-height: 1.6;
            }
            .specs {
                margin-top: 20px;
                back
            }
            .specs h3 {
                color: #333;
            }
            .specs ul {
                list-style-type: none;
                padding: 0;
            }
            .specs ul li {
                background: #f9f9f9;
                margin: 5px 0;
                padding: 10px;
                border-radius: 5px;
            }
        </style>
    </head>
    <body>
        <div class="container">
            <div class="car-image">
                <h1>Ferrari 488 GTB</h1>
                <img src="https://hips.hearstapps.com/es.h-cdn.co/cades/contenidos/14785/ferrari488gtb1.jpg" 
                alt="Imagen del Carro">
            </div>
            <div class="car-details">
            
                
                <p>El Ferrari 488 GTB es una obra maestra de la ingeniería y el diseño italiano que encarna la esencia del lujo deportivo. Con su elegante silueta y líneas aerodinámicas, este superdeportivo impresiona tanto en la carretera como en la pista. Equipado con un motor V8 biturbo que produce una potencia impresionante, el 488 GTB ofrece un rendimiento excepcional y una experiencia de conducción emocionante. Su interior lujoso y lleno de tecnología brinda comodidad y conveniencia, mientras que su legado en el mundo del automovilismo lo convierte en un ícono de la pasión por los automóviles. El Ferrari 488 GTB es mucho más que un simple automóvil: es una obra de arte sobre ruedas que cautiva a todos los que tienen el privilegio de experimentarlo.</p>
            </div>
            <div class="specs">
                <h3>Especificaciones</h3>
                <ul>
                    <li><strong>Marca:</strong> Ferrari</li>
                    <li><strong>Año de fabricacion:</strong> 2019</li>
                    <li><strong>Color:</strong> Rojo Fuego</li>
                    <li><strong>Precio:</strong>  1,214,996,000 </li>
                    <li><strong>Tipo de motor:</strong> Gasolina</li>
                    <li><strong>Velocidad Maxima:</strong> 330 km/h</li>
                    <br>
                 <a href="/"> <button class="button1 " >Compra Ahora</button></a>
                    
                    

                </ul>
            </div>
        </div>
    
    
    
    
    
    
    
    </Layout>










































    </Layout>