---
import Menu from "../components/menu.astro";
import Layout from "../layouts/Layout.astro";
---
<!-- Este es el primer carro de la pag 2 -->
<html lang="es">
 <Layout> 
    <Menu></Menu>
<head>
  <meta charset="UTF-8">
  
  <title> Aston Martin DB11</title>
  <link
    href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css"
    rel="stylesheet"
    integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH"
    crossorigin="anonymous"
  />
  <style>
    body {
      font-family: 'Arial', sans-serif;
      background-color: #f4f4f4;
      margin: 0;
      padding: 0px;
    }
    .container {
      max-width: 1200px;
      margin: 0 auto;
      padding: 20px;
    }
    .header {
      text-align: center;
      margin-bottom: 40px;
    }
    .header h1 {
      font-size: 3em;
      color: #333;
    }
    .car-image img {
      height: 700px;
      height: auto;
      border-radius: 10px;
      width: 900px;

    }
    .car-details {
      padding: 20px;
      background-color: #fff;
      border-radius: 10px;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    }
    .car-details h2 {
      color: #333;
      font-size: 2em;
      margin-bottom: 20px;
    }
    .car-details p {
      color: #666;
      line-height: 1.6;
    }
    .specs {
      margin-top: 20px;
    }
    .specs h3 {
      color: #333;
      font-size: 1.5em;
    }
    .specs ul {
      list-style-type: none;
      padding: 0;
    }
    .specs ul li {
      background: #f9f9f9;
      margin: 5px 0;
      padding: 10px;
      border-radius: 5px;
    }
  </style>
</head>
<body>
  <div class="container">
    <div class="header">
      <h1 class="marc">Ferrari 488 GTB</h1>
    </div>
    <div class="car-image">
      <img src="https://i.pinimg.com/originals/5b/89/a1/5b89a18d91c52a3b5e8e5027311053b7.jpg" alt="Aston Martin DB11">
    </div>
    <div class="car-details">
      <h2>Descripción</h2>
      <p>El Ferrari 488 GTB redefine el significado de la velocidad y el lujo. Con un motor V8 Biturbo que ofrece un rendimiento sin igual, este superdeportivo italiano te lleva a una experiencia de conducción inolvidable. Con su diseño aerodinámico y su elegancia atemporal, el 488 GTB es la personificación de la pasión y la excelencia de Ferrari.</p>
      <div class="specs">
        <h3>Especificaciones</h3>
        <ul>
          <li><strong>Marca:</strong> Ferrari</li>
          <li><strong>Año de Fabricación:</strong> Varias versiones desde 2015</li>
          <li><strong>Color:</strong> Negro</li>
          <li><strong>Precio:</strong> 1,045,000,000 </li>
          <li><strong>Tipo de Motor:</strong> V8 Biturbo</li>
          <li><strong>Velocidad Máxima:</strong> 330 km/h</li>
          <li><strong>Aceleración (0-100 km/h):</strong> Alrededor de 3 segundos</li>
        </ul>
      </div>
      <div class="more-images">
        <h3>Otras Presentaciones</h3>
        <div class="row">
          <div class="col-md-4">
            <img src="https://cdn.ferrari.com/cms/network/media/img/resize/5ea7ee31987ea872f1afb1b4-50_ferrrair-308_gts_488_gtb_esterni?width=750&height=550" alt="Interior del Aston Martin DB11" class="img-fluid">
          </div>
          <div class="col-md-4">
            <img src="https://cdn.ferrari.com/cms/network/media/img/resize/5ea7f088987ea872f1afb270-56_ferrari-360_barchetta_488_gtb_esterni?width=750&height=550" alt="Parte Trasera del Aston Martin DB11" class="img-fluid">
          </div>
          <div class="col-md-4">
            <img src="https://cdn.ferrari.com/cms/network/media/img/resize/5ea7f8d0f5a8157b920c9de0-63_ferrari-fxx_pacchettoevoluzione_488_gtb_esterni?width=750&height=550" alt="Vista Lateral del Aston Martin DB11" class="img-fluid">
          </div>
        </div>
      </div>
    </div>
  </div>
</body>

</Layout>  