---
import Menu from "../components/menu.astro";
import Layout from "../layouts/Layout.astro";
---
<Layout>
    <Menu></Menu>
    
    <style>
        body {
            font-family: Arial, sans-serif;
            background-color: #f4f4f4;
            margin: 0;
            padding: 0;
        }
        .container {
            max-width: 800px;
            margin: 20px auto;
            background-color: #cccccc;
            padding: 20px;
            box-shadow: 0 0 10px rgb(0, 0, 0);
            border-radius: 10px;
            }
        .car-image {
            text-align: center;
        }
        .car-image img {
            max-width: 100%;
            height: auto;
        }
        .car-details {
            margin-top: 20px;
        }
        .car-details h2 {
            color: #333;
        }
        .car-details p {
            color: #666;
            line-height: 1.6;
        }
        .specs {
            margin-top: 20px;
            back
        }
        .specs h3 {
            color: #333;
        }
        .specs ul {
            list-style-type: none;
            padding: 0;
        }
        .specs ul li {
            background: #f9f9f9;
            margin: 5px 0;
            padding: 10px;
            border-radius: 5px;
        }
    </style>
</head>
<body>
    <div class="container">
        <div class="car-image">
            <h1>Porshe 911 Turbo S</h1>
            <img src="https://pictures.porsche.com/rtt/iris?COSY-EU-100-1711coMvsi60AAt5FwcmBEgA4qP8iBUDxPE3Cb9pNXABuN9dMGF4tl3U0%25z8rMHIspbWvanYb%255y%25oq%25vSTmjMXD4qAZeoNBPUSfUx4RmWBisGK7Zlp0KtYYF%25mVSW8uAVbsqYSJQP0iO5M56hHcTCkKzdKf2GLZB9SPQrItywRuT0kN%25x7e2HLec1UBXCfHaYXZaiUFVcIrh0Qw9sJRzPf7KXL" alt="Imagen del Carro">
        </div>
        <div class="car-details">
        
            
            <p>Descubre la combinación perfecta de potencia, elegancia y tecnología con el Porsche 911 Turbo S. Con un diseño aerodinámico y agresivo, impulsado por un motor de seis cilindros que ofrece un rendimiento excepcional, este icónico automóvil ofrece una experiencia de conducción emocionante y envolvente. En su interior, encontrarás una fusión de tecnología de vanguardia y lujo, desde asientos deportivos hasta un sistema de infoentretenimiento de última generación. Con el Porsche 911 Turbo S, experimenta la excelencia en cada curva y en cada aceleración.</p>
        </div>
        <div class="specs">
            <h3>Especificaciones</h3>
            <ul>
                <li><strong>Marca:</strong> Porshe</li>
                <li><strong>Año de fabricacion:</strong> 2020</li>
                <li><strong>Color:</strong> Blanco Perlado</li>
                <li><strong>Precio:</strong> 722,400,000 </li>
                <li><strong>Velocidad Maxima:</strong> 330 km/h</li>
                <li><strong>Tipo de motor:</strong> Gasolina</li>
                <br>
                <a href="/"> <button class="button1 " >Agrega al Carrito</button></a>
                
            </ul>
        </div>
    </div>







</Layout>
