---
import Menu from "../components/menu.astro";
import Layout from "../layouts/Layout.astro";
---
<Layout>
    <Menu></Menu>
    
    <style>
        body {
            font-family: Arial, sans-serif;
            background-color: #f4f4f4;
            margin: 0;
            padding: 0;
        }
        .container {
            max-width: 800px;
            margin: 20px auto;
            background-color: #cccccc;
            padding: 20px;
            box-shadow: 0 0 10px rgb(0, 0, 0);
            border-radius: 10px;
            }
        .car-image {
            text-align: center;
        }
        .car-image img {
            max-width: 100%;
            height: auto;
        }
        .car-details {
            margin-top: 20px;
        }
        .car-details h2 {
            color: #333;
        }
        .car-details p {
            color: #666;
            line-height: 1.6;
        }
        .specs {
            margin-top: 20px;
            back
        }
        .specs h3 {
            color: #333;
        }
        .specs ul {
            list-style-type: none;
            padding: 0;
        }
        .specs ul li {
            background: #f9f9f9;
            margin: 5px 0;
            padding: 10px;
            border-radius: 5px;
        }
    </style>
</head>
<body>
    <div class="container">
        <div class="car-image">
            <h1>Bugatti Chiron</h1>
            <img src="https://exclusivecarregistry.com/images/thumbnails/thumb_59592.jpg" alt="Imagen del Carro">
        </div>
        <div class="car-details">
        
            
            <p>Descubra la esencia del lujo y la velocidad con el Bugatti Chiron. Desde su diseño aerodinámico hasta su motor W16 de 8.0 litros con cuatro turbocompresores, este automóvil encarna la perfección en cada detalle. Con una velocidad máxima de 420 km/h y un interior que fusiona tecnología de vanguardia con materiales de primera calidad, el Bugatti Chiron ofrece una experiencia de conducción inigualable que redefine los estándares del automovilismo de lujo.</p>
        </div>
        <div class="specs">
            <h3>Especificaciones</h3>
            <ul>
                <li><strong>Marca:</strong> Bugatti</li>
                <li><strong>Año de fabricacion:</strong> 2016</li>
                <li><strong>Color:</strong> Rojo Brillante</li>
                <li><strong>Precio:</strong> 8,800,000,000  </li>
                <li><strong>Tipo de motor:</strong> W16 de 8.0 litros</li>
                <li><strong>Velocidad Maxima:</strong> 420 km/h</li>
                <br>
                <a href="/"> <button class="button1 " >Agrega al Carrito</button></a>
            </ul>
        </div>
    </div>







</Layout>
