---
import Menu from "../components/menu.astro";
import Layout from "../layouts/Layout.astro";
---
<Layout>
    <Menu></Menu>
    
    <style>
        body {
            font-family: Arial, sans-serif;
            background-color: #f4f4f4;
            margin: 0;
            padding: 0;
        }
        .container {
            max-width: 800px;
            margin: 20px auto;
            background-color: #cccccc;
            padding: 20px;
            box-shadow: 0 0 10px rgb(0, 0, 0);
            border-radius: 10px;
            }
        .car-image {
            text-align: center;
        }
        .car-image img {
            max-width: 100%;
            height: auto;
        }
        .car-details {
            margin-top: 20px;
        }
        .car-details h2 {
            color: #333;
        }
        .car-details p {
            color: #666;
            line-height: 1.6;
        }
        .specs {
            margin-top: 20px;
            back
        }
        .specs h3 {
            color: #333;
        }
        .specs ul {
            list-style-type: none;
            padding: 0;
        }
        .specs ul li {
            background: #f9f9f9;
            margin: 5px 0;
            padding: 10px;
            border-radius: 5px;
        }
    </style>
</head>
<body>
    <div class="container">
        <div class="car-image">
            <h1>BMW iX 2025</h1>
            <img src="https://hips.hearstapps.com/hmg-prod/images/lamborghini-aventador-lp-780-4-ultimae-1-1625667550.jpg?crop=0.777xw:0.691xh;0.0856xw,0.171xh&resize=2048:*" alt="Imagen del Carro">
        </div>
        <div class="car-details">
        
            
            <p>
                ¡Descubre el Lamborghini Aventador 2024, un superdeportivo de lujo con un motor V12 de hasta 770 CV y un diseño aerodinámico inigualable! Aprovecha nuestro exclusivo descuento del 20% y llévatelo por solo $2,811,720,040 COP. Combina innovación, tradición y lujo en cada detalle, acelerando de 0 a 100 km/h en solo 2.8 segundos. No pierdas la oportunidad de poseer este símbolo de exclusividad y potencia. Contáctanos hoy para más información y haz realidad tu sueño. ¡Lamborghini Aventador 2024, la expresión máxima de la pasión automotriz!
                
                
                
                
                
                
                </p>
        </div>
        <div class="specs">
            <h3>Especificaciones</h3>
            <ul>
                <li><strong>Marca:</strong> Lamborghini</li>
                <li><strong>Año de fabricacion:</strong> 2021</li>
                <li><strong>Color:</strong> Gris Plateado</li>
                <li><strong>Precio:</strong> 2,811,720,040 </li>
                <li><strong>Tipo de motor:</strong> V12 atmosférico de 6.5 litros.</li>
                <li><strong>Velocidad Maxima:</strong> 350 km/h </li>
                <br>
                <a href="/"> <button class="button1 " >Compra Ahora</button></a>
            </ul>
        </div>
    </div>







</Layout>
