---
import Menu from "../components/menu.astro";
import Layout from "../layouts/Layout.astro";
---

<link rel="Layout.astro" href="Layout.astro" />

<Layout>
	<Menu />

	<div>
		<div class="header"></div>
	</div>


<div class="box1">
	<h1>!Autos Con 20% de descuento hoy¡</h1>
</div>

<main>
	<section>
		<div class="car-list">
			<div class="car">
				<img
					src="https://autosdeprimera.com/wp-content/uploads/2024/02/bmw-ix2-edrive20-2024-a.jpg"
					alt="BMW iX 2025"
				/>

				<h3>BMW iX 2025</h3>
				<p class="letter1">Precio Antes: 449.900.000</p>

				<p class="letter2">Precio Ahora: 359.920.000</p>

				<div class="boton1">
					<div onclick="boton1">
						<a href="/details1"><button>Ver mas</button></a>
					</div>
				</div>
			</div>

			<div class="car-list">
				<div class="car">
					<img
						src="https://www.diariomotor.com/imagenes/2017/09/02_CHIRON_ZERO-400-ZERO_dynamic_crop-720x480.webp"
						alt="Bugatti Chiron"
					/>
					<h3>Bugatti Chiron</h3>
					<p class="letter1">Precio antes: 11,000,000,000</p>
					<p class="letter2">Precio Ahora: 8,800,000,000</p>

					<a href="/details5"> <button>Ver mas</button></a>
				</div>
			</div>
			<div class="car-list">
				<div class="car">
					<img
						src="https://http2.mlstatic.com/D_NQ_NP_2X_650322-MCO76438668422_052024-F.webp"
						alt="Toyota Fortuner 2024"
					/>
					<h3>Toyota Fortuner 2024</h3>
					<p class="letter1">Precio Antes:313,500,000</p>

					<p class="letter2">Precio Ahora: 250,800,000</p>

					<div class="boton1">
						<div onclick="boton1">
							<a href="/details3"><button>Ver mas</button></a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<section>
		<div class="car-list">
			<div class="car">
				<img
					src="https://img.remediosdigitales.com/be3b47/porsche-911-turbo-s-gemballa-gtr-8xx-evo-r-14-/1366_2000.jpg"
					alt="Porshe 911 Turbo S"
				/>

				<h3>Porshe 911 Turbo S</h3>
				<p class="letter1">Precio Antes:903,000,000</p>

				<p class="letter2">Precio Ahora: 722,400,000</p>

				<div class="boton1">
					<div onclick="boton1">
						<a href="/details4"><button>Ver mas</button></a>
					</div>
				</div>
			</div>

			<div class="car-list">
				<div class="car">
					<img
						src="https://cdn.motor1.com/images/mgl/B7Aow/s1/novitec-ferrari-sf90-stradale.webp"
						alt="Carro 2"
					/>
					<h3>FERRARI SF90</h3>
					<p class="letter1">Precio antes:4,328,550,000</p>
					<p class="letter2">Precio Ahora: 3,462,840,000</p>

					<a href="/details2"> <button>Ver mas</button></a>
				</div>
			</div>
			<div class="car-list">
				<div class="car">
					<img
						class=""
						src="https://hips.hearstapps.com/hmg-prod/images/lamborghini-aventador-lp-780-4-ultimae-1-1625667550.jpg?crop=0.777xw:0.691xh;0.0856xw,0.171xh&resize=2048:*"
						alt="Toyota Fortuner 2024"
					/>
					<h3>Lamborghini Aventador</h3>
					<p class="letter1">Precio Antes: 3,514,650,050</p>

					<p class="letter2">Precio Ahora: 2,811,720,040</p>

					<div class="boton1">
						<div onclick="boton1">
							<a href="/details6"><button>Ver mas</button></a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
</main>
</Layout>