---
import Menu from "../components/menu.astro";
import Layout from "../layouts/Layout.astro";
---
<Layout>
    <Menu></Menu>
<style>
    .catalog{
        height: 68px;
        background-color: gray;
        text-align: center;
        padding: 1px;
        color: rgb(0, 0, 0);
        text-align: center;
        margin: auto;
        width: 600px;
        
        
    }
    </style>
    <main>
		<section>
			<div class="catalog"><h2><p>Carros Disponibles</p></h2></div>
            <br>
			<div class="car-list">
				<div class="car">
					 <img
						src="https://hips.hearstapps.com/es.h-cdn.co/cades/contenidos/14785/ferrari488gtb1.jpg"
						alt="Ferrari 488 GTB"/>
					 
					
					 <h3>Ferrari 488 GTB</h3>
					 <p class="letter2">Precio:  1,214,996,000</p>
					

					<div class="boton1">
						<div onclick="boton1">
							<a href="/4details"><button>Ver mas</button></a>
						</div>
					</div>
				</div>
				<div class="car-list">
					<div class="car">
						<img
							src="https://cdn.motor1.com/images/mgl/B7Aow/s1/novitec-ferrari-sf90-stradale.webp"
							alt="Carro 2"
						/>
						<h3>FERRARI SF90</h3>
						

						<a href="/details2"> <button>Ver mas</button></a>
					</div>
				</div>
				<div class="car-list">
					<div class="car">
						<img
							src="https://autosdeprimera.com/wp-content/uploads/2022/06/toyota-gazoo-racing-colombia-e.jpg"
							alt="Toyota Fortuner 2024"
						/>
						<h3>Toyota Fortuner 2024</h3>
						

						<div class="boton1">
							<div onclick="boton1">
								<a href="/details3"><button>Ver mas</button></a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
	</main>
    <main>
		<section>
			
			<div class="car-list">
				<div class="car">
					 <img
						src="https://hips.hearstapps.com/hmg-prod/images/2023-bmw-ix-m60-108-1653422436.jpg?crop=0.728xw:0.820xh;0.160xw,0.0264xh&resize=768:*"
						alt="BMW iX 2025"/>
					 
					
					 <h3>BMW iX 2025</h3>
					

					<div class="boton1">
						<div onclick="boton1">
							<a href="/details1"><button>Ver mas</button></a>
						</div>
					</div>
				</div>
				<div class="car-list">
					<div class="car">
						<img
							src="https://cdn.motor1.com/images/mgl/B7Aow/s1/novitec-ferrari-sf90-stradale.webp"
							alt="Carro 2"
						/>
						<h3>FERRARI SF90</h3>
						

						<a href="/details2"> <button>Ver mas</button></a>
					</div>
				</div>
				<div class="car-list">
					<div class="car">
						<img
							src="https://autosdeprimera.com/wp-content/uploads/2022/06/toyota-gazoo-racing-colombia-e.jpg"
							alt="Toyota Fortuner 2024"
						/>
						<h3>Toyota Fortuner 2024</h3>
						

						<div class="boton1">
							<div onclick="boton1">
								<a href="/details3"><button>Ver mas</button></a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
	</main>
</Layout>

