<div class="">
    <div class="imagen">
        <header>
            <div class="name"><h1 class="name">Samuel's Shop</h1></div>
            <nav>
                <ul>
                    <li><strong><a href="/">Inicio</a></strong></li>
                    <li><strong><a href="/page2">Catálogo</a></strong></li>
                </ul>
            </nav>
        </header>
    </div>
</div>

<style>
    .name {
        font-size: 40px;
        
        
    }
    nav ul {
        list-style-type: none;
        padding: 0;
        font-size: 24px;
    }

    nav ul li {
        display: inline;
        margin-right: 20px;
    }

    nav ul li a {
        color: #000000;
        text-decoration: none;
    }
    .imagen {
        background-image: url(https://www.race.es/revista-autoclub/wp-content/uploads/sites/4/2016/09/logotiposcoches-759x500.jpg);
        z-index: 2;
        top: 0;
        position: relative;
        
        width: 100%;
        
        
    }
</style>
