<div>
    <header>
        <h1>Samuel's Shop</h1>
        <nav>
            <ul>
                <li> <strong><a href="/">Inicio</a></strong></li>
                <li><strong><a href="/page2">Catálogo</a></strong></li>
                
            </ul>
        </nav>
    </header>
</div>
<style>
    

    nav ul {
        list-style-type: none;
        padding: 0;
        font-size: 17px;
    }

    nav ul li {
        display: inline;
        margin-right: 20px;
    }

    nav ul li a {
        color: #ffffff;
        text-decoration: none;
        
    }
</style>
